@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");
/* ==========================
    共通設定
============================= */
* {
  font-family: "Noto Sans JP", sans-serif;
  color: #212121;
}

::-moz-selection {
  background-color: #07903b;
  color: #fff;
}

::selection {
  background-color: #07903b;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 72px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.inner {
  margin: 0 16px;
}

.text {
  letter-spacing: 0.04em;
  margin-top: 24px;
  line-height: 1.4em;
}

.pc_only {
  display: none;
}

.sp_only {
  display: block;
}

@media screen and (min-width: 769px) {
  .pc_only {
    display: block;
  }
  .sp_only {
    display: none;
  }
  a {
    transition: 0.4s;
  }
  a:hover {
    opacity: 0.8;
  }
  .inner {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
  /* =========== min-width:769px =========== */
}
/* ==========================
    セクション
============================= */
section {
  padding: 48px 0;
}
section:first-of-type {
  padding-top: 72px;
}
section:last-of-type {
  padding-bottom: 72px;
}

/* ===== セクションタイトル ===== */
.sec_title {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 1.7em;
  transform: translateX(24px);
  position: relative;
}
.sec_title::before, .sec_title::after {
  content: "";
  display: block;
  width: 3px;
  height: 22px;
  position: absolute;
  top: 3px;
}
.sec_title::before {
  background-color: #006835;
  left: -26px;
}
.sec_title::after {
  background-color: #07903b;
  left: -20px;
}
.sec_title.fade_in {
  transform: translate(24px, 30px);
}
.sec_title.fade_in.on {
  transform: translate(24px, 0);
}

@media screen and (min-width: 769px) {
  section {
    padding: 88px 0;
  }
  section:first-of-type {
    padding-top: 132px;
  }
  section:last-of-type {
    padding-bottom: 132px;
  }
  .sec_title {
    font-size: 40px;
  }
  .sec_title::before, .sec_title::after {
    width: 4px;
    height: 36px;
    top: 8px;
  }
  .sec_title::before {
    left: -26px;
  }
  .sec_title::after {
    left: -20px;
  }
  /* =========== min-width:769px =========== */
}
/* ==========================
    ボタン
============================= */
/* ===== ログインボタン ===== */
.login_btn {
  background-color: #07903b;
  color: #fff;
  line-height: 32px;
  padding: 0 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  border-radius: 50px;
}

/* ===== お問い合わせボタンのベーススタイル ===== */
.btn {
  background-color: #ff6e30;
  color: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.1em;
}

/* ===== 画面下部固定お問い合わせボタン ===== */
.contact_fixed {
  width: 100%;
  padding: 20px 5vw;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}
.contact_fixed.is_hidden {
  opacity: 0;
  visibility: hidden;
  bottom: -88px;
}
.contact_fixed .btn {
  max-width: 769px;
  height: 48px;
  line-height: 47px;
  border-radius: 5px;
}
.contact_fixed .btn::before {
  content: "\e158";
  font-family: "Material Icons";
  font-size: 26px;
  color: #fff;
  margin-right: 2.5vw;
  vertical-align: middle;
  display: inline-block;
  transform: translateY(-1px);
}
.contact_fixed .btn .arrow {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  margin-left: 2em;
  vertical-align: middle;
  transform: translateY(-2px);
  transition: 0.4s;
}

.skill_sheet_fixed {
  display: none;
}

@media screen and (min-width: 1230px) {
  .contact_fixed {
    display: none;
  }
  /* ===== 画面下部固定お問い合わせボタン ===== */
  .skill_sheet_fixed {
    display: block;
    width: 100%;
    padding: 20px 5vw;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
  }
  .skill_sheet_fixed.is_hidden {
    opacity: 0;
    visibility: hidden;
    bottom: -88px;
  }
  .skill_sheet_fixed .btn {
    max-width: 769px;
    height: 48px;
    line-height: 47px;
    border-radius: 5px;
  }
  .skill_sheet_fixed .btn .arrow {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    margin-left: 2em;
    vertical-align: middle;
    transform: translateY(-2px);
    transition: 0.4s;
  }
  /* =========== min-width:1230px =========== */
}
/* ===== セクション内の問い合わせボタン ===== */
.btn_area {
  text-align: center;
  margin-top: 48px;
}
.btn_area .lead_text {
  font-size: 18px;
  margin-bottom: 24px;
  letter-spacing: 0.03em;
}
.btn_area .btn {
  padding: 16px;
  border-radius: 40px;
  width: 95%;
}
.btn_area .btn::before {
  content: "\e158";
  font-family: "Material Icons";
  font-size: 26px;
  color: #fff;
  margin-right: 2.5vw;
  vertical-align: middle;
  display: inline-block;
  transform: translateY(-1px);
}
.btn_area .arrow {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  margin-left: 3.5vw;
  vertical-align: middle;
  transform: translateY(-2px);
  transition: 0.4s;
}

@media screen and (min-width: 769px) {
  .btn_area {
    margin-top: 80px;
  }
  .btn_area .btn {
    max-width: 580px;
  }
  .btn_area .btn:hover .arrow {
    transform: translateX(16px);
  }
  /* =========== min-width:769px =========== */
}
/* ==========================
fade_in ｜下から上へ出現
============================= */
.fade_in {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.fade_in.side_left {
  transform: translateX(-30px);
}
.fade_in.side_left.on {
  transform: translateX(0);
}
.fade_in.side_right {
  transform: translateX(30px);
}
.fade_in.side_right.on {
  transform: translateX(0);
}

.fade_in.on {
  transform: translateY(0);
  opacity: 1;
}

.fade_in_fv {
  animation-name: fadeInAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 769px) {
  .fade_in.side_left {
    transform: translateY(30px);
  }
  .fade_in.side_left.on {
    transform: translateY(0);
  }
  .fade_in.side_right {
    transform: translateY(30px);
  }
  .fade_in.side_right.on {
    transform: translateY(0);
  }
  /* =========== min-width:769px =========== */
}
/* ==========================
    下層：共通部分
============================= */
section.under_sec {
  padding-top: 0;
}
section.under_sec .under_heading {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  height: 100px;
  background-color: #d9f1e3;
  top: 0;
  left: 0;
  z-index: -1;
  margin-bottom: 48px;
}
section.under_sec .under_heading .title {
  display: inline-block;
  line-height: 100px;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 40px;
  position: relative;
}
section.under_sec .under_heading::before, section.under_sec .under_heading::after {
  content: "";
  display: block;
  width: 3px;
  height: 22px;
  position: absolute;
  top: 128px;
  z-index: 1;
}
section.under_sec .under_heading::before {
  background-color: #006835;
  left: 18px;
}
section.under_sec .under_heading::after {
  background-color: #07903b;
  left: 24px;
}

@media screen and (min-width: 769px) {
  section.under_sec {
    padding-top: 0;
  }
  section.under_sec .under_heading {
    margin-bottom: 64px;
    height: 128px;
  }
  section.under_sec .under_heading .title {
    font-size: 36px;
    margin-left: 152px;
    line-height: 128px;
    height: 128px;
  }
  section.under_sec .under_heading::before, section.under_sec .under_heading::after {
    width: 4px;
    height: 36px;
    top: 136px;
  }
  section.under_sec .under_heading::before {
    background-color: #006835;
    left: 126px;
  }
  section.under_sec .under_heading::after {
    background-color: #07903b;
    left: 133px;
  }
  /* =========== min-width:769px =========== */
}
.header {
  height: 88px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.header .header_wrapper {
  display: flex;
  justify-content: space-between;
}
.header .header_logo {
  height: 72px;
}
.header .header_logo img {
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 72px;
}
.header .header_right {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1250px) {
  .gnav .gnav_list .list_item.tab_only {
    display: block;
  }
  .gnav .gnav_list .list_item.pc_only {
    display: none;
  }
  .header_right .login_btn {
    display: block;
  }
  /* =========== max-width:769px =========== */
}
@media screen and (min-width: 1250px) {
  .gnav .gnav_list .list_item.tab_only {
    display: none;
  }
  .gnav .gnav_list .list_item.pc_only {
    display: block;
  }
  /* =========== min-width:1231px =========== */
}
/* ==========================
    ハンバーガーメニュー
============================= */
.ham {
  height: 72px;
  width: 72px;
  cursor: pointer;
  position: relative;
}
.ham span {
  width: 40px;
  height: 2px;
  display: block;
  background-color: #006835;
  position: absolute;
  left: 16px;
  top: 36px;
  transition: 0.4s;
}
.ham span:first-of-type {
  top: 24px;
}
.ham span:last-of-type {
  top: 48px;
}
.ham.on span:first-of-type {
  transform: rotate(-45deg);
  top: 36px;
}
.ham.on span:nth-of-type(2) {
  opacity: 0;
}
.ham.on span:last-of-type {
  transform: rotate(45deg);
  top: 36px;
}

@media screen and (min-width: 1250px) {
  .header {
    box-shadow: rgb(102, 102, 102) 0px -4px 20px -11px;
  }
  .header .gnav {
    position: static;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    height: inherit;
  }
  .header .gnav .gnav_list {
    display: flex;
    align-items: center;
    vertical-align: middle;
  }
  .header .gnav .gnav_list .list_item {
    margin-bottom: 0;
    margin-right: 1.3em;
  }
  .header .gnav .gnav_list .list_item a {
    font-size: clamp(12px, 0.87vw, 16px);
    color: #212121;
    display: inline-block;
    line-height: 88px;
    height: 88px;
    position: relative;
    overflow: hidden;
  }
  .header .gnav .gnav_list .list_item a::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #006835;
    position: absolute;
    left: -100%;
    bottom: 26px;
    transition: 0.4s;
  }
  .header .gnav .gnav_list .list_item a:hover::before {
    left: 0;
  }
  .header .gnav .gnav_list .list_item a.contact_btn {
    /* ===== PC版ヘッダーのお問い合わせボタン ===== */
    background-color: #ff6e30;
    color: #fff;
    line-height: 32px;
    padding-right: 28px;
    padding-left: 12px;
    text-align: center;
    font-size: 0.82vw;
    font-weight: bold;
    letter-spacing: 0.1em;
    border-radius: 16px;
    position: relative;
    height: initial;
  }
  .header .gnav .gnav_list .list_item a.contact_btn::before {
    content: "\e158";
    font-family: "Material Icons";
    font-size: 18px;
    color: #fff;
    margin-right: 0.4vw;
    vertical-align: middle;
    display: inline-block;
    transform: translateY(-1px);
    width: initial;
    height: initial;
    position: static;
    background-color: transparent;
  }
  .header .gnav .gnav_list .list_item a.contact_btn::after {
    content: "▶︎";
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-49%);
    display: inline-block;
    font-size: 8px;
    transition: 0.4s;
  }
  .header .gnav .gnav_list .list_item a.contact_btn:hover::after {
    right: 5%;
  }
  .header .gnav .gnav_list .list_item a.login_btn {
    color: #fff;
    line-height: 32px;
    height: initial;
    font-size: 0.82vw;
  }
  .header .gnav .gnav_list .list_item a.login_btn::before {
    display: none;
  }
  .header .header_right {
    display: none;
  }
  /* =========== min-width:769px =========== */
}
/* ==========================
    グローバルナビ
============================= */
.gnav {
  height: 100vh;
  position: absolute;
  right: -102%;
  z-index: 990;
  background-color: #07903b;
  padding: 64px 48px 0 32px;
  transition: 0.4s;
  box-shadow: -7px 0 20px -9px #666;
}
.gnav.on {
  right: 0;
}
.gnav .gnav_list {
  font-weight: bold;
}
.gnav .gnav_list .list_item {
  margin-bottom: 24px;
}
.gnav .gnav_list .list_item.small {
  font-size: 12px;
}
.gnav .gnav_list .list_item.small a {
  color: #ddd;
}
.gnav .gnav_list .list_item.small a.external::after {
  content: "\e89e";
  font-family: "Material Icons";
  color: #ddd;
  font-size: 12px;
  margin-left: 0.3em;
  display: inline-block;
  transform: translateY(3px);
}
.gnav .gnav_list .list_item a {
  color: #fff;
}
.gnav .gnav_list .list_item.skill_sheet {
  padding-top: 4px;
  padding-bottom: 8px;
  border-radius: 30px;
}
.gnav .gnav_list .list_item.skill_sheet a {
  font-size: 16px;
}

.ham_bg {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
  /* 透明度を0にすることで隠す */
  transition: opacity 0.4s;
  /* 透明度の0→1になる速度 */
}
.ham_bg.on {
  opacity: 1;
  width: 100%;
  height: 100%;
  /* メニューが表示されているときには背景が表示 */
  cursor: pointer;
}

.mv {
  height: calc(100svh - 72px);
  position: relative;
  background: url(../img/mv.jpg) no-repeat;
  background-size: cover;
  background-position: 70% 50%;
}
.mv .mv_title {
  font-size: 36px;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: bold;
  position: absolute;
  bottom: 80px;
  left: 3%;
  color: #07903b;
  filter: drop-shadow(0 0 3px #fff);
}
.mv .appeal_point {
  position: absolute;
  bottom: 56px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 90vw;
}
.mv .appeal_point .laurel {
  max-width: clamp(106px, 30.58vw, 120px);
}
.mv .catch_copy {
  font-size: clamp(36px, 9.41vw, 40px);
  font-weight: bold;
  color: #fff;
  width: 100%;
  text-shadow: #212121 1px 1px 7px;
  line-height: 1.5em;
  word-break: auto-phrase;
  position: absolute;
  top: 16px;
  left: 3%;
}
.mv .catch_copy .first_line {
  font-size: 24px;
}
.mv .catch_copy .small {
  font-size: 21px;
  font-weight: lighter;
}

@media screen and (min-width: 769px) {
  .mv {
    background-size: cover;
    /* 画面幅に対して100%の幅を持つように設定 */
    /* 右側50%に配置 */
  }
  .mv .mv_title {
    font-size: 64px;
    top: 16vh;
    left: 5%;
  }
  .mv .appeal_point {
    bottom: 56px;
    left: 30%;
    transform: translateX(-50%);
    width: 50vw;
  }
  .mv .appeal_point .laurel {
    max-width: 220px;
    width: 220px;
  }
  .mv p.catch_copy {
    font-size: 48px;
    top: 40px;
  }
  .mv p.catch_copy .first_line {
    font-size: 38px;
  }
  .mv p.catch_copy .small {
    font-size: 32px;
  }
  /* =========== min-width:769px =========== */
}
.sp_small_only {
  display: none;
}

@media screen and (max-width: 424px) {
  .sp_small_only {
    display: block;
  }
  /* =========== max-width:424px =========== */
}
.sec_about .flexbox img {
  width: 100%;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 30%;
     object-position: 50% 30%;
}
.sec_about .flexbox .text {
  width: 100%;
  word-break: break-all;
}

@media screen and (min-width: 769px) {
  .sec_about .flexbox {
    display: flex;
    justify-content: space-between;
  }
  .sec_about .flexbox img {
    width: 97%;
    height: 380px;
  }
  .sec_about .flexbox .wrapper {
    width: 97%;
    margin-left: 32px;
  }
  .sec_about .flexbox .wrapper .text:first-of-type {
    margin-top: 0;
  }
  /* =========== min-width:769px =========== */
}
/* ===== 背景色 ===== */
.sec_achievement {
  background-color: #d9f1e3;
  /* ===== タイトル ===== */
}
.sec_achievement .sec_title {
  transform: translate(40px, 30px);
}
.sec_achievement .sec_title.on {
  transform: translate(40px, 0);
}
.sec_achievement .achievement_wrapper {
  margin-bottom: 48px;
}
.sec_achievement .achievement_wrapper:last-of-type {
  margin-bottom: 0;
}
.sec_achievement .achievement_wrapper .achievement_item {
  margin-bottom: 24px;
  position: relative;
}
.sec_achievement .achievement_wrapper .achievement_item img {
  max-width: 64%;
  display: block;
  margin: 0 auto;
}
.sec_achievement .achievement_wrapper .achievement_item p {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.05em;
  line-height: 1.7;
}
.sec_achievement .achievement_wrapper .achievement_item p::first-line {
  font-size: 24px;
}

@media screen and (min-width: 769px) {
  .sec_achievement .inner {
    display: flex;
  }
  .sec_achievement .inner .achievement_wrapper {
    margin-bottom: 48px;
    max-width: 33.3333333333%;
  }
  .sec_achievement .inner .achievement_wrapper .achievement_item {
    margin: 0 auto 32px;
    max-width: 90%;
  }
  .sec_achievement .inner .achievement_wrapper .achievement_item img {
    max-width: 100%;
  }
  .sec_achievement .inner .achievement_wrapper .achievement_item p {
    font-size: 40px;
  }
  .sec_achievement .inner .achievement_wrapper .achievement_item p::first-line {
    font-size: 32px;
  }
  .sec_achievement .inner .achievement_wrapper p.achievement_text {
    max-width: 90%;
    font-size: 16px;
  }
  /* =========== min-width:769px =========== */
}
.job_card {
  max-width: 360px;
  margin: 0 auto 40px;
  background-color: #eee;
  border-radius: 4px;
  padding-bottom: 16px;
}
.job_card:last-of-type {
  margin-bottom: 0;
}
.job_card h4 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 24px;
  margin-bottom: 24px;
  position: relative;
}
.job_card h4::before, .job_card h4::after {
  content: "";
  display: block;
  width: 4.5vw;
  height: 2px;
  background-color: #212121;
  position: absolute;
  top: 75%;
}
.job_card h4::before {
  left: 30%;
}
.job_card h4::after {
  right: 30%;
}
.job_card dl div {
  display: flex;
  padding: 16px 24px;
  margin: 24px 16px;
  background-color: #fff;
  border-radius: 4px;
}
.job_card dl div:last-of-type {
  margin-bottom: 0;
}
.job_card dl div dt {
  width: 35%;
}
.job_card dl div dd {
  width: 65%;
  font-weight: bold;
}
.job_card dl div dd ul {
  transform: translateY(-4px);
}
.job_card dl div dd ul li {
  line-height: 1.7;
  margin-bottom: 0.7em;
}
.job_card dl div dd ul li:last-of-type {
  margin-bottom: 0;
}

.new {
  text-align: center;
  margin-top: 32px;
  font-size: 4.36vw;
  letter-spacing: 0.06em;
  position: relative;
}
.new .bold {
  font-weight: bold;
}
.new .red {
  color: #c44536;
}
.new .plus {
  font-family: "Material Icons";
  color: #c44536;
  font-size: 28px;
  display: inline-block;
  transform: translateY(24%);
}

@media screen and (min-width: 769px) {
  .sec_job_opening .flexbox {
    display: flex;
    justify-content: space-between;
  }
  .sec_job_opening .flexbox .job_card {
    width: 32%;
    max-width: 360px;
    margin-bottom: 0;
  }
  .sec_job_opening .flexbox .job_card h4::before, .sec_job_opening .flexbox .job_card h4::after {
    width: 1.6vw;
  }
  .sec_job_opening .flexbox .job_card h4::before {
    left: 23%;
  }
  .sec_job_opening .flexbox .job_card h4::after {
    right: 23%;
  }
  .new {
    margin-top: 64px;
    font-size: 24px;
  }
  /* =========== min-width:769px =========== */
}
.sec_akogare {
  background-color: #d9f1e3;
  position: relative;
}
.sec_akogare .sec_title span {
  color: #006835;
}
.sec_akogare .flex_box .akogare_box {
  padding: 16px;
  background-color: #fff;
  text-align: center;
  max-width: 90%;
  margin-bottom: 24px;
  word-break: auto-phrase;
  -webkit-word-break: auto-phrase;
}
.sec_akogare .flex_box .akogare_box:nth-of-type(odd) {
  margin-left: -16px;
  border-radius: 0 20px 20px 0;
}
.sec_akogare .flex_box .akogare_box:nth-of-type(even) {
  margin-left: auto;
  margin-right: -16px;
  border-radius: 20px 0 0 20px;
}
.sec_akogare .flex_box .akogare_box:last-of-type {
  margin-bottom: 0;
}
.sec_akogare .flex_box .akogare_box img {
  max-height: 120px;
  margin-bottom: 16px;
}
.sec_akogare .flex_box .akogare_box p {
  letter-spacing: 0.04em;
  line-height: 1.5em;
}
.sec_akogare::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-right: 64px solid transparent;
  border-left: 64px solid transparent;
  border-top: 48px solid #d9f1e3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -48px;
}

@media screen and (min-width: 769px) {
  .sec_akogare .flex_box {
    display: flex;
    justify-content: space-between;
  }
  .sec_akogare .flex_box .akogare_box {
    padding: 24px;
    width: 32%;
    max-width: 360px;
    margin: 0;
  }
  .sec_akogare .flex_box .akogare_box:nth-of-type(odd) {
    margin-left: 0;
    border-radius: 12px;
  }
  .sec_akogare .flex_box .akogare_box:nth-of-type(even) {
    margin-left: 0;
    margin-right: 0;
    border-radius: 12px;
  }
  .sec_akogare .flex_box .akogare_box:last-of-type {
    margin-bottom: 0;
  }
  .sec_akogare .flex_box .akogare_box img {
    max-height: 160px;
  }
  .sec_akogare .flex_box .akogare_box p {
    font-size: 18px;
  }
  /* =========== min-width:769px =========== */
}
.sec_appeal {
  padding-top: 48px 24px;
}
.sec_appeal .sec_title {
  display: block;
  transform: none;
  text-align: center;
  word-break: auto-phrase;
  -webkit-word-break: auto-phrase;
  letter-spacing: 0.1em;
  line-height: 1.7;
  font-size: 5.58vw;
}
.sec_appeal .sec_title span:nth-of-type(1), .sec_appeal .sec_title span:nth-of-type(3), .sec_appeal .sec_title span:nth-of-type(4) {
  font-weight: lighter;
  font-size: 22px;
}
.sec_appeal .sec_title span:nth-of-type(1), .sec_appeal .sec_title span:nth-of-type(2), .sec_appeal .sec_title span:nth-of-type(3) {
  color: #07903b;
}
.sec_appeal .sec_title.fade_in {
  transform: translateY(30px);
}
.sec_appeal .sec_title.fade_in.on {
  transform: translateY(0);
}
.sec_appeal .flex_box .appeal_box {
  padding: 24px;
  margin-bottom: 32px;
  border: 3px solid #d9f1e3;
  border-radius: 24px;
  text-align: center;
}
.sec_appeal .flex_box .appeal_box:last-of-type {
  margin-bottom: 0;
}
.sec_appeal .flex_box .appeal_box h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  letter-spacing: 0.04em;
  line-height: 1.4em;
  word-break: auto-phrase;
}
.sec_appeal .flex_box .appeal_box img {
  max-height: 120px;
  margin-bottom: 16px;
}
.sec_appeal .flex_box .appeal_box p {
  text-align: left;
  letter-spacing: 0.04em;
  line-height: 1.5em;
}

@media screen and (min-width: 769px) {
  .sec_appeal .sec_title {
    font-size: 40px;
  }
  .sec_appeal .sec_title::before, .sec_appeal .sec_title::after {
    opacity: 0;
  }
  .sec_appeal .sec_title span:nth-of-type(1), .sec_appeal .sec_title span:nth-of-type(3), .sec_appeal .sec_title span:nth-of-type(4) {
    font-weight: lighter;
    font-size: 2.5vw;
  }
  .sec_appeal .flex_box {
    display: flex;
    justify-content: space-between;
  }
  .sec_appeal .flex_box .appeal_box {
    width: 32%;
    max-width: 360px;
    margin-bottom: 0;
  }
  .sec_appeal .flex_box .appeal_box:last-of-type {
    margin-bottom: 0;
  }
  .sec_appeal .flex_box .appeal_box img {
    max-height: 160px;
    max-width: 100%;
  }
  /* =========== min-width:769px =========== */
}
.sec_voice .flex_box {
  display: flex;
  justify-content: space-between;
}
.sec_voice .flex_box .voice_item {
  margin: -32px 8px 40px;
  width: 65%;
}
.sec_voice .flex_box .voice_item:last-of-type {
  margin-bottom: 0;
}
.sec_voice .flex_box .voice_item img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: -32px;
}
.sec_voice .flex_box .voice_item .voice_card {
  width: 100%;
  background-color: #d9f1e3;
  padding: 48px 16px 16px;
  border-radius: 4px;
  z-index: -1;
}
.sec_voice .flex_box .voice_item .voice_card .voice_textarea {
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  letter-spacing: 0.04em;
}
.sec_voice .flex_box .voice_item .voice_card .voice_textarea h4 {
  margin-bottom: 24px;
  font-weight: bold;
}

@media screen and (min-width: 769px) {
  .sec_voice .flex_box .voice_item {
    margin-bottom: 0;
    width: 48%;
    max-width: 580px;
    margin-right: 48px;
    margin-left: 48px;
  }
  .sec_voice .flex_box .voice_item:last-of-type {
    margin-bottom: 0;
  }
  .sec_voice .flex_box .voice_item .voice_card {
    padding: 48px 32px 32px;
  }
  .sec_voice .flex_box .voice_item .voice_card .voice_textarea {
    padding: 32px;
  }
  .sec_voice .flex_box .voice_item img {
    width: 246px;
    height: 246px;
  }
  /* =========== min-width:769px =========== */
}
.sec_flow .flex_box {
  width: 96%;
}
.sec_flow .flex_box .flow_item {
  margin: 0 auto;
  padding: 32px 0;
  position: relative;
}
.sec_flow .flex_box .flow_item:first-of-type {
  padding-top: 0;
}
.sec_flow .flex_box .flow_item::before {
  content: "";
  width: 2px;
  height: 208px;
  background-color: #e9e9e9;
  position: absolute;
  bottom: 0;
  left: 6%;
}
.sec_flow .flex_box .flow_item::after {
  display: none;
}
.sec_flow .flex_box .flow_item .flow_heading {
  font-size: 4.68vw;
  font-size: clamp(20px, 4.7vw, 21px);
  font-weight: bold;
  display: flex;
  letter-spacing: 0.6px;
  margin-bottom: 16px;
  line-height: 1.5;
  position: relative;
  align-self: center;
}
.sec_flow .flex_box .flow_item .flow_heading .number {
  display: block;
  color: #006835;
  font-size: 36px;
  font-weight: bold;
  margin-right: 16px;
}
.sec_flow .flex_box .flow_item .flow_heading.consulting {
  margin-bottom: 40px;
}
.sec_flow .flex_box .flow_item .flow_heading.consulting + p {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 96px;
  left: 60px;
}
.sec_flow .flex_box .flow_item.skill_sheet img {
  max-height: 120px;
}
.sec_flow .flex_box .flow_item.skill_sheet::before {
  height: 168px;
}
.sec_flow .flex_box .flow_item.one_line .flow_heading {
  line-height: 1.5;
}
.sec_flow .flex_box .flow_item img {
  max-height: 160px;
  display: block;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 769px) {
  .sec_flow {
    /* =========== min-width:769px =========== */
  }
  .sec_flow .flex_box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -72px;
    width: 111%;
  }
  .sec_flow .flex_box .flow_item {
    padding: 0 18px;
  }
  .sec_flow .flex_box .flow_item:nth-of-type(-n+3) {
    margin-bottom: 104px;
  }
  .sec_flow .flex_box .flow_item:first-of-type {
    padding-top: 0;
  }
  .sec_flow .flex_box .flow_item::before {
    display: none;
  }
  .sec_flow .flex_box .flow_item::after {
    display: block;
    content: "\ea50";
    font-family: "Material Icons";
    color: #006835;
    position: absolute;
    top: 50%;
    right: -4.5vw;
    transform: translateY(-50%);
    font-size: 3vw;
  }
  .sec_flow .flex_box .flow_item:last-of-type::after {
    content: "";
  }
  .sec_flow .flex_box .flow_item .flow_heading {
    font-size: clamp(18px, 2vw, 24px);
    display: flex;
    margin-bottom: 40px;
  }
  .sec_flow .flex_box .flow_item .flow_heading .number {
    font-size: 36px;
    line-height: 68px;
  }
  .sec_flow .flex_box .flow_item .flow_heading.consulting {
    margin-bottom: 40px;
  }
  .sec_flow .flex_box .flow_item .flow_heading.consulting + p {
    top: 72px;
    left: 76px;
  }
  .sec_flow .flex_box .flow_item.one_line .flow_heading {
    line-height: 1.5;
  }
  .sec_flow .flex_box .flow_item img {
    max-height: 184px;
  }
  .sec_flow .flex_box .flow_item.skill_sheet img {
    max-height: 152px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1230px) {
  .sec_flow .flex_box {
    width: 100%;
    margin: 0 auto;
  }
  .sec_flow .flex_box .flow_item {
    width: 33.3333333333%;
  }
  .sec_flow .flex_box .flow_item::after {
    right: 0;
  }
}
@media screen and (min-width: 1231px) {
  .sec_flow .flex_box .flow_item {
    width: 33.3333333333%;
  }
  .sec_flow .flex_box .flow_item::after {
    right: 0;
  }
  /* =========== min-width:1231px =========== */
}
.sec_faq {
  background-color: #d9f1e3;
  /*アコーディオンタイトル*/
}
.sec_faq .accordion-area {
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}
.sec_faq .accordion-area li {
  margin-bottom: 32px;
}
.sec_faq .accordion-area li:last-of-type {
  margin-bottom: 0;
}
.sec_faq .accordion-area section {
  background-color: #fff;
  padding: 0;
  border-radius: 9px;
  cursor: pointer;
  /*アコーディオンで現れるエリア*/
}
.sec_faq .accordion-area section.close .acco-title::after {
  transform: rotate(0deg);
}
.sec_faq .accordion-area section .box {
  display: none;
  /*はじめは非表示*/
  margin: 0 24px;
  padding: 32px 0 32px 48px;
  font-size: 16px;
  border-top: 1px dashed #212121;
  background: url(../img/faq_a.png) no-repeat;
  background-position: center left;
  background-size: 32px;
  line-height: 1.5;
}
.sec_faq .acco-title {
  position: relative;
  /*+マークの位置基準とするためrelative指定*/
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  margin: 0 24px;
  padding: 32px 28px 32px 48px;
  transition: all 0.5s ease;
  background: url(../img/faq_q.png) no-repeat;
  background-position: center left;
  background-size: 32px;
  word-break: auto-phrase;
  /*アイコンの＋と×*/
}
.sec_faq .acco-title::before, .sec_faq .acco-title::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background-color: #333;
  transition: 0.5s;
  top: 48%;
  right: 0;
}
.sec_faq .acco-title::before {
  transform: rotate(0deg);
}
.sec_faq .acco-title::after {
  transform: rotate(90deg);
}

@media screen and (min-width: 769px) {
  .sec_faq {
    background-color: #d9f1e3;
    /*アコーディオンタイトル*/
  }
  .sec_faq .accordion-area {
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin: 0 auto;
  }
  .sec_faq .accordion-area li {
    margin-bottom: 32px;
  }
  .sec_faq .accordion-area li:last-of-type {
    margin-bottom: 0;
  }
  .sec_faq .accordion-area section {
    /*アコーディオンで現れるエリア*/
  }
  .sec_faq .accordion-area section .box {
    margin: 0 96px;
  }
  .sec_faq .acco-title {
    margin: 0 96px;
  }
  .sec_faq .acco-title::before, .sec_faq .acco-title::after {
    right: -64px;
  }
  /* =========== min-width:769px =========== */
}
/*========= ページトップのためのCSS ===============*/
/*リンクの形状*/
#page-top {
  /*リンクを右下に固定*/
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateX(100px);
  /*　右から出る動き　*/
  /*　右に隠れる動き　*/
}
#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(100px);
  }
}
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07903b;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  color: #fff;
  text-align: center;
  transition: all 0.4s;
}
#page-top a::before {
  content: "\eacf";
  font-family: "Material Icons";
  font-size: 22px;
}

@media screen and (min-width: 769px) {
  #page-top {
    right: 16px;
  }
  #page-top a:hover {
    background: rgba(7, 144, 59, 0.7);
  }
  /* =========== min-width:769px =========== */
}
.footer {
  background-color: #07903b;
  padding-top: 64px;
  padding-bottom: 24px;
}
.footer .flex_box {
  display: flex;
  flex-direction: column;
}
.footer .flex_box img {
  height: 72px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .flex_box .footer_nav {
  display: inline-block;
  margin: 48px auto 64px;
}
.footer .flex_box .footer_nav .list_item {
  margin-bottom: 24px;
}
.footer .flex_box .footer_nav .list_item.small {
  font-size: 12px;
}
.footer .flex_box .footer_nav .list_item.small a {
  color: #ddd;
}
.footer .flex_box .footer_nav .list_item a {
  color: #fff;
}
.footer .flex_box .footer_nav .list_item a.external::after {
  content: "\e89e";
  font-family: "Material Icons";
  color: #ddd;
  font-size: 12px;
  margin-left: 0.3em;
  display: inline-block;
  transform: translateY(3px);
}
.footer p {
  text-align: center;
}
.footer p small {
  color: #fff;
}

@media screen and (min-width: 769px) {
  .footer {
    padding-top: 48px;
  }
  .footer .inner {
    max-width: 1400px;
  }
  .footer .inner .flex_box {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer .inner .flex_box .footer_nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin: 0 -32px;
  }
  .footer .inner .flex_box .footer_nav .list_item {
    margin-bottom: 48px;
    margin-left: 0.6em;
    margin-right: 0.6em;
    align-self: baseline;
  }
  .footer .inner .flex_box .footer_nav .list_item:nth-of-type(-n+8) {
    margin-bottom: 32px;
  }
  .footer .inner .flex_box .footer_nav .list_item a {
    font-size: clamp(11px, 0.87vw, 16px);
  }
  /* =========== min-width:769px =========== */
}
.sec_privacy .text {
  font-size: 14px;
  letter-spacing: 0.007em;
  line-height: 1.7;
}
.sec_privacy .privacy_item {
  margin-top: 40px;
}
.sec_privacy .privacy_item:first-of-type {
  margin-top: 48px;
}
.sec_privacy .privacy_item h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 24px;
}
.sec_privacy .privacy_item ol {
  list-style: normal;
}
.sec_privacy .privacy_item ol li {
  margin-top: 16px;
  margin-left: 1.5em;
}

@media screen and (min-width: 769px) {
  .sec_privacy .inner {
    max-width: 890px;
  }
  .sec_privacy .inner .privacy_item {
    margin-top: 48px;
  }
  .sec_privacy .inner .privacy_item ol li {
    margin-top: 24px;
  }
  /* =========== min-width:769px =========== */
}
.sec_contact form {
  margin-top: 56px;
  margin-bottom: 16px;
  /* エラーメッセージのスタイル */
}
.sec_contact form .form_row {
  margin-bottom: 40px;
}
.sec_contact form .form_row .form_content.select .wrapper {
  display: inline-block;
  position: relative;
}
.sec_contact form .form_row .form_content.select .wrapper::after {
  content: "▼";
  display: inline-block;
  font-size: 10px;
  color: #212121;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(30%);
}
.sec_contact form .form_row .form_label .required {
  margin-left: 8px;
  font-size: 14px;
  color: #c44536;
  border: 1px solid #c44536;
  padding: 1px 3px;
}
.sec_contact form .form_row .form_label .optional {
  margin-left: 8px;
  font-size: 14px;
  color: #9a9a9a;
  border: 1px solid #9a9a9a;
  padding: 1px 3px;
}
.sec_contact form .form_row select,
.sec_contact form .form_row input,
.sec_contact form .form_row textarea {
  margin-top: 16px;
  border: 1px solid #ddd;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sec_contact form .form_row input,
.sec_contact form .form_row textarea {
  width: 100%;
}
.sec_contact form .form_row input::-moz-placeholder {
  color: #dadada;
}
.sec_contact form .form_row input::placeholder {
  color: #dadada;
}
.sec_contact form .form_row select {
  padding-right: 32px;
}
.sec_contact form .form_row textarea {
  height: 80px;
  resize: none;
}
.sec_contact form .text {
  text-align: center;
  margin-bottom: 36px;
  word-break: auto-phrase;
  -webkit-word-break: auto-phrase;
  line-height: 1.5;
}
.sec_contact form .text .external {
  color: #07903b;
}
.sec_contact form .text .external::after {
  content: "\e89e";
  font-family: "Material Icons";
  color: #07903b;
  font-size: 14px;
  margin-right: 0.3em;
  display: inline-block;
  transform: translateY(2px);
}
.sec_contact form button {
  padding: 16px;
  border-radius: 40px;
  width: 95%;
  transition: 0.4s;
}
.sec_contact form button::before {
  content: "\e158";
  font-family: "Material Icons";
  font-size: 26px;
  color: #fff;
  margin-right: 2.5vw;
  vertical-align: middle;
  display: inline-block;
  transform: translateY(-1px);
}
.sec_contact form button .arrow {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  margin-left: 3.5vw;
  vertical-align: middle;
  transform: translateY(-2px);
  transition: 0.4s;
}
.sec_contact form .g-recaptcha > div {
  margin: 0 auto 32px;
}
.sec_contact form .error {
  margin-top: 8px;
  display: inline-block;
  font-size: 1rem;
  color: #c44536;
  box-sizing: border-box;
}
.sec_contact .btn {
  padding: 16px;
  border-radius: 40px;
  width: 90%;
  margin-top: 48px;
}
.sec_contact .btn .arrow {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  margin-left: 3.5vw;
  vertical-align: middle;
  transform: translateY(-2px);
  transition: 0.4s;
}

@media screen and (min-width: 769px) {
  .sec_contact.contact_done .inner {
    max-width: 720px;
  }
  .sec_contact .inner {
    max-width: 890px;
  }
  .sec_contact .inner .form_content .form_row {
    margin-bottom: 48px;
  }
  .sec_contact .inner p {
    margin: 40px 0;
    line-height: 1.7em;
    word-break: auto-phrase;
  }
  .sec_contact .inner button:hover {
    opacity: 0.7;
  }
  .sec_contact .inner button:hover .arrow {
    transform: translateX(16px);
  }
  .sec_contact .inner .btn:hover .arrow {
    transform: translateX(16px);
  }
  .sec_contact form p.error {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  /* =========== min-width:769px =========== */
}/*# sourceMappingURL=main.css.map */