@use 'components' as *;

.sec_about {
    .flexbox {
        img {
            width: 100%;
            height: 223px;
            object-fit: cover;
            object-position: 50% 30%;
        }

        .text {
            width: 100%;
            word-break: break-all;
        }
    }
}

@media screen and (min-width:768px) {
    .sec_about {
        .flexbox {
            display: flex;
            justify-content: space-between;

            img {
                width: 97%;
                height: 380px;
            }

            .wrapper {
                width: 97%;
                margin-left: 32px;

                .text:first-of-type {
                    margin-top: 0;
                }
            }


        }
    }

    /* =========== min-width:768px =========== */
}