@use 'components' as *;

/* ===== 背景色 ===== */
.sec_achievement {
    background-color: $bg_color;

    /* ===== タイトル ===== */
    .sec_title {
        transform: translate(40px, 30px);

        &.on {
            transform: translate(40px, 0);
        }
    }

    .achievement_wrapper {
        margin-bottom: 48px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .achievement_item {
            margin-bottom: 24px;
            position: relative;

            img {
                max-width: 64%;
                display: block;
                margin: 0 auto;
            }

            p {
                // 位置決め
                position: absolute;
                top: 37%;
                left: 50%;
                transform: translate(-50%, -50%);

                // 装飾
                width: 100%;
                text-align: center;
                font-weight: bold;
                font-size: 32px;
                letter-spacing: .05em;
                line-height: 1.7;

                &::first-line {
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (min-width:769px) {
    .sec_achievement {
        .inner {
            display: flex;

            .achievement_wrapper {
                margin-bottom: 48px;
                max-width: calc((100 / 3) * 1%);


                .achievement_item {
                    margin: 0 auto 32px;
                    max-width: 90%;


                    img {
                        max-width: 100%;
                    }

                    p {
                        // 装飾
                        font-size: 40px;

                        &::first-line {
                            font-size: 32px;
                        }
                    }

                }

                p.achievement_text {
                    max-width: 90%;
                    font-size: 16px;
                }
            }
        }
    }

    /* =========== min-width:769px =========== */
}