@charset 'utf-8';

//===== 色 =====
$main_color: #07903b;
$second_color: #006835;
$accent_color: #ff6e30;
$white: #fff;
$black: #212121;
$alert: #c44536;
$bg_color: #d9f1e3;

// ===== 文字 =====


//===== 余白 =====

// sp版
$sp_section_margin: 48px;

// pc版
$pc_section_margin: 88px;