@use 'components' as *;
// Googleアイコン
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

/* ==========================
    共通設定
============================= */
* {
    font-family: 'Noto Sans JP', sans-serif;
    color: $black;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 72px;
}

.inner {
    margin: 0 16px;

}

.text {
    letter-spacing: .04em;
    margin-top: 24px;
    line-height: 1.4em;
}

.pc_only {
    display: none;
}

.sp_only {
    display: block;
}

@media screen and (min-width:769px) {
    .pc_only {
        display: block;
    }

    .sp_only {
        display: none;
    }

    // 共通設定
    a {
        transition: .4s;

        &:hover {
            opacity: 0.8;
        }
    }

    .inner {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }

    /* =========== min-width:769px =========== */
}

/* ==========================
    セクション
============================= */
section {
    padding: $sp_section_margin 0;

    &:first-of-type {
        padding-top: $sp_section_margin*1.5;
    }

    &:last-of-type {
        padding-bottom: $sp_section_margin*1.5;
    }
}

/* ===== セクションタイトル ===== */
.sec_title {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .05em;
    margin-bottom: 1.7em;
    transform: translateX(24px);
    position: relative;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 3px;
        height: 22px;
        position: absolute;
        top: 3px;
    }

    &::before {
        background-color: $second_color;
        left: -26px;
    }

    &::after {
        background-color: $main_color;
        left: -20px;
    }
}

@media screen and (min-width:769px) {
    section {
        padding: $pc_section_margin 0;

        &:first-of-type {
            padding-top: $pc_section_margin*1.5;
        }

        &:last-of-type {
            padding-bottom: $pc_section_margin*1.5;
        }
    }

    .sec_title {
        font-size: 40px;

        &::before,
        &::after {
            width: 4px;
            height: 36px;
            top: 8px;
        }

        &::before {
            left: -26px;
        }

        &::after {
            left: -20px;
        }

    }

    /* =========== min-width:769px =========== */
}


/* ==========================
    ボタン
============================= */

/* ===== ログインボタン ===== */
.login_btn {
    background-color: $main_color;
    color: $white;
    line-height: 32px;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    border-radius: 50px;
}

/* ===== お問い合わせボタンのベーススタイル ===== */

.btn {
    background-color: $accent_color;
    color: $white;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    letter-spacing: .1em;
}


/* ===== 画面下部固定お問い合わせボタン ===== */
.contact_fixed {
    width: 100%;
    padding: 20px 5vw;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: .4s;

    // 非表示のスタイル
    &.is_hidden {
        opacity: 0;
        visibility: hidden;
        bottom: -88px;
    }

    .btn {
        max-width: 769px;
        height: 48px;
        line-height: 47px;
        border-radius: 5px;

        &::before {
            content: '\e158';
            font-family: 'Material Icons';
            font-size: 26px;
            color: $white;
            margin-right: 2.5vw;
            vertical-align: middle;
            display: inline-block;
            transform: translateY(-1px);
        }

        .arrow {
            display: inline-block;
            font-size: 13px;
            color: $white;
            margin-left: 2em;
            vertical-align: middle;
            transform: translateY(-2px);
            transition: .4s;
        }
    }
}

@media screen and (min-width:769px) {
    .contact_fixed {
        .btn:hover .arrow {
            transform: translateX(16px);
        }
    }

    /* =========== min-width:769px =========== */
}

/* ===== セクション内の問い合わせボタン ===== */

.btn_area {
    text-align: center;
    margin-top: 48px;

    .lead_text {
        font-size: 18px;
        margin-bottom: 24px;
        letter-spacing: .03em;
    }

    .btn {
        padding: 16px;
        border-radius: 40px;
        width: 95%;

        &::before {
            content: '\e158';
            font-family: 'Material Icons';
            font-size: 26px;
            color: $white;
            margin-right: 2.5vw;
            vertical-align: middle;
            display: inline-block;
            transform: translateY(-1px);
        }
    }

    .arrow {
        display: inline-block;
        font-size: 13px;
        color: $white;
        margin-left: 3.5vw;
        vertical-align: middle;
        transform: translateY(-2px);
        transition: .4s;
    }
}

@media screen and (min-width:769px) {
    .btn_area {
        margin-top: 80px;

        .btn {
            max-width: 580px;

            &:hover {
                .arrow {
                    transform: translateX(16px);
                }
            }
        }
    }

    /* =========== min-width:769px =========== */
}

/* ==========================
    下層：共通部分
============================= */
section.under_sec {
    padding-top: 0;

    .under_heading {
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        height: 100px;
        background-color: $bg_color;
        top: 0;
        left: 0;
        z-index: -1;
        margin-bottom: 48px;

        .title {
            display: inline-block;
            line-height: 100px;
            height: 100px;
            font-size: 24px;
            font-weight: bold;
            margin-left: 40px;
            position: relative;
        }

        &::before,
        &::after {
            content: '';
            display: block;
            width: 3px;
            height: 22px;
            position: absolute;
            top: 128px;
            z-index: 1;
        }

        &::before {
            background-color: $second_color;
            left: 18px;
        }

        &::after {
            background-color: $main_color;
            left: 24px;
        }
    }
}

@media screen and (min-width:769px) {
    section.under_sec {
        padding-top: 0;

        .under_heading {
            margin-bottom: 64px;
            height: 128px;


            .title {
                font-size: 36px;
                margin-left: 152px;
                line-height: 128px;
                height: 128px;
            }

            &::before,
            &::after {
                width: 4px;
                height: 36px;
                top: 136px;
            }

            &::before {
                background-color: $second_color;
                left: 126px;
            }

            &::after {
                background-color: $main_color;
                left: 133px;
            }
        }
    }

    /* =========== min-width:769px =========== */
}