@use 'components' as *;

.sec_contact {
    form {
        margin-top: 56px;
        margin-bottom: 16px;

        .form_row {
            margin-bottom: 40px;

            .form_content {
                &.select {
                    .wrapper {
                        display: inline-block;
                        position: relative;

                        &::after {
                            content: '▼';
                            display: inline-block;
                            font-size: 10px;
                            color: $black;
                            position: absolute;
                            top: 50%;
                            right: 12px;
                            transform: translateY(30%);
                        }
                    }
                }
            }

            .form_label {

                .required {
                    margin-left: 8px;
                    font-size: 14px;
                    color: $alert;
                    border: 1px solid $alert;
                    padding: 1px 3px;
                }

                .optional {
                    margin-left: 8px;
                    font-size: 14px;
                    color: #9a9a9a;
                    border: 1px solid #9a9a9a;
                    padding: 1px 3px;
                }

            }

            select,
            input,
            textarea {
                margin-top: 16px;
                border: 1px solid #ddd;
                padding-left: 8px;
                padding-top: 5px;
                padding-bottom: 5px;

            }

            input,
            textarea {
                width: 100%;
            }

            input::placeholder {
                color: #dadada;
            }

            select {
                padding-right: 32px;
            }

            textarea {
                height: 80px;
            }

        }

        p {
            text-align: center;
            margin-bottom: 36px;
            word-break: auto-phrase;
            -webkit-word-break: auto-phrase;
            line-height: 1.5;

            .external {
                color: $main_color;

                &::after {
                    content: "\e89e";
                    font-family: "Material Icons";
                    color: $main_color;
                    font-size: 14px;
                    margin-right: 0.3em;
                    display: inline-block;
                    transform: translateY(2px);
                }
            }
        }

        button {
            padding: 16px;
            border-radius: 40px;
            width: 95%;
            transition: .4s;

            &::before {
                content: '\e158';
                font-family: 'Material Icons';
                font-size: 26px;
                color: $white;
                margin-right: 2.5vw;
                vertical-align: middle;
                display: inline-block;
                transform: translateY(-1px);
            }

            .arrow {
                display: inline-block;
                font-size: 13px;
                color: $white;
                margin-left: 3.5vw;
                vertical-align: middle;
                transform: translateY(-2px);
                transition: .4s;
            }
        }
    }

    .btn {
        padding: 16px;
        border-radius: 40px;
        width: 90%;
        margin-top: 48px;

        .arrow {
            display: inline-block;
            font-size: 13px;
            color: $white;
            margin-left: 3.5vw;
            vertical-align: middle;
            transform: translateY(-2px);
            transition: .4s;
        }
    }
}

@media screen and (min-width:769px) {
    .sec_contact {
        &.contact_done {
            // height: 75vh;

            .inner {
                max-width: 720px;
            }
        }

        .inner {
            max-width: 890px;

            .form_content {
                .form_row {
                    margin-bottom: 48px;
                }
            }

            p {
                margin: 40px 0;
                line-height: 1.7em;
                word-break: auto-phrase;

                // &:last-of-type {
                //     color: $alert;
                // }
            }

            button:hover {
                opacity: 0.7;

                .arrow {
                    transform: translateX(16px);
                }
            }

            .btn:hover .arrow {
                transform: translateX(16px);
            }
        }
    }

    /* =========== min-width:769px =========== */
}