@use 'components' as *;

/*========= ページトップのためのCSS ===============*/
/*リンクの形状*/
#page-top {
    /*リンクを右下に固定*/
    position: fixed;
    bottom: 80px;
    right: 10px;
    z-index: 2;
    /*はじめは非表示*/
    opacity: 0;
    transform: translateX(100px);

    /*　右から出る動き　*/
    &.UpMove {
        animation: UpAnime 0.5s forwards;
    }

    @keyframes UpAnime {
        from {
            opacity: 0;
            transform: translateX(100px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /*　右に隠れる動き　*/
    &.DownMove {
        animation: DownAnime 0.5s forwards;
    }

    @keyframes DownAnime {
        from {
            opacity: 1;
            transform: translateX(0);
        }

        to {
            opacity: 1;
            transform: translateX(100px);
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main_color;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        color: $white;
        text-align: center;
        transition: all 0.4s;

        &::before {
            content: '\eacf';
            font-family: 'Material Icons';
            font-size: 22px;
        }
    }

}

@media screen and (min-width:768px) {
    #page-top {
        right: 16px;
    }

    #page-top a:hover {
        background: rgba(7, 144, 59, 0.7);
    }

    /* =========== min-width:768px =========== */
}

.footer {
    background-color: $main_color;
    padding-top: 64px;
    padding-bottom: 24px;

    .flex_box {
        display: flex;
        flex-direction: column;

        img {
            height: 72px;
            object-fit: contain;
        }

        .footer_nav {
            display: inline-block;
            margin: 48px auto 64px;

            .list_item {
                margin-bottom: 24px;

                &.small {
                    font-size: 12px;

                    a {
                        color: #ddd;
                    }
                }

                a {
                    color: $white;

                    &.external::after {
                        content: "\e89e";
                        font-family: "Material Icons";
                        color: #ddd;
                        font-size: 12px;
                        margin-left: 0.3em;
                        display: inline-block;
                        transform: translateY(3px);
                    }
                }
            }
        }
    }

    p {
        text-align: center;

        small {
            color: $white;
        }
    }
}

@media screen and (min-width:768px) {
    .footer {
        padding-top: 48px;

        .inner {
            .flex_box {
                display: flex;
                flex-direction: column-reverse;

                .footer_nav {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: 0 auto;
                    margin: 0 -32px;


                    .list_item {
                        margin-bottom: 48px;
                        margin-left: .6em;
                        margin-right: .6em;

                        &:nth-of-type(-n+8) {
                            margin-bottom: 32px;
                        }

                    }
                }
            }
        }

        p {
            margin-top: 48px;
        }
    }

    /* =========== min-width:768px =========== */
}