@use 'components' as *;

.header {
    height: 72px;
    width: 100%;
    background-color: $white;
    // box-shadow: 0px 3px 5px 0px rgba(205, 205, 205, 0.25);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    .header_wrapper {
        display: flex;
        justify-content: space-between;
    }

    .header_logo img {
        margin-left: 16px;
        height: 72px;
    }

    .header_right {
        display: flex;
        align-items: center;
    }
}

/* ==========================
    ハンバーガーメニュー
============================= */
.ham {
    height: 72px;
    width: 72px;
    cursor: pointer;
    position: relative;

    span {
        width: 40px;
        height: 2px;
        display: block;
        background-color: $second_color;
        position: absolute;
        left: 16px;
        top: 36px;
        transition: 0.4s;


        &:first-of-type {
            top: 24px;
        }

        &:last-of-type {
            top: 48px;
        }
    }

    &.on span {
        &:first-of-type {
            transform: rotate(-45deg);
            top: 36px;
        }

        &:nth-of-type(2) {
            opacity: 0;
        }

        &:last-of-type {
            transform: rotate(45deg);
            top: 36px;
        }

    }
}

@media screen and (min-width:768px) {
    .header {
        box-shadow: rgb(102, 102, 102) 0px -4px 20px -11px;

        .gnav {
            position: static;
            background-color: transparent;
            padding: 0;
            box-shadow: none;
            height: inherit;

            .gnav_list {
                display: flex;
                align-items: center;
                vertical-align: middle;

                .list_item {
                    margin-bottom: 0;
                    margin-right: 1.3em;

                    a {
                        font-size: 0.87vw;
                        color: $black;
                        display: inline-block;
                        line-height: 72px;
                        height: 72px;
                        position: relative;
                        overflow: hidden;

                        &::before {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 1px;
                            background-color: $second_color;
                            position: absolute;
                            left: -100%;
                            bottom: 18px;
                            transition: .4s;
                        }

                        &:hover::before {
                            left: 0;
                        }

                        &.contact_btn {
                            /* ===== PC版ヘッダーのお問い合わせボタン ===== */
                            background-color: $accent_color;
                            color: $white;
                            line-height: 32px;
                            padding-right: 28px;
                            padding-left: 12px;
                            text-align: center;
                            // font-size: 14px;
                            font-size: 0.82vw;
                            font-weight: bold;
                            letter-spacing: .1em;
                            border-radius: 16px;
                            position: relative;
                            height: initial;

                            &::before {

                                content: '\e158';
                                font-family: 'Material Icons';
                                font-size: 18px;
                                color: $white;
                                margin-right: .4vw;
                                vertical-align: middle;
                                display: inline-block;
                                transform: translateY(-1px);
                                width: initial;
                                height: initial;
                                position: static;
                                background-color: transparent;

                            }

                            &::after {
                                content: '▶︎';
                                position: absolute;
                                right: 8%;
                                top: 50%;
                                transform: translateY(-49%);
                                display: inline-block;
                                font-size: 8px;
                                transition: .4s;
                            }

                            &:hover::after {
                                right: 5%;
                            }
                        }

                        &.login_btn {
                            color: $white;
                            line-height: 32px;
                            height: initial;
                            font-size: 0.82vw;

                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .header_right {
            display: none;
        }
    }

    /* =========== min-width:768px =========== */
}

/* ==========================
    グローバルナビ
============================= */
.gnav {
    height: 100vh;
    position: absolute;
    right: -102%;
    z-index: 990;
    background-color: $main_color;
    padding: 64px 48px 0 32px;
    transition: 0.4s;
    box-shadow: -7px 0 20px -9px #666;

    &.on {
        right: 0;
    }

    .gnav_list {
        font-weight: bold;

        .list_item {
            margin-bottom: 24px;

            &.small {
                font-size: 12px;

                a {
                    color: #ddd;

                    &.external::after {
                        content: '\e89e';
                        font-family: 'Material Icons';
                        color: #ddd;
                        font-size: 12px;
                        margin-left: 0.3em;
                        display: inline-block;
                        transform: translateY(3px);
                    }
                }
            }

            a {
                color: $white;
            }
        }
    }
}

.ham_bg {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    /* 透明度を0にすることで隠す */
    transition: opacity 0.4s;
    /* 透明度の0→1になる速度 */

    &.on {
        opacity: 1;
        width: 100%;
        height: 100%;
        /* メニューが表示されているときには背景が表示 */
    }
}