@use 'components' as *;

.mv {
    height: calc(100vh - 72px);
    position: relative;
    background: url(../img/mv.jpg) no-repeat;
    background-size: cover;
    background-position: 70% 50%;

    .mv_title {
        font-size: 36px;
        letter-spacing: .1em;
        line-height: 1.2em;
        font-weight: bold;
        position: absolute;
        top: 104px;
        left: 3%;
        color: $main_color;
        // text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff,
        //     -2px 2px 0 #fff, 2px -2px 0 #fff,
        //     0px 2px 0 #fff, 0 -2px 0 #fff,
        //     -2px 0 0 #fff, 2px 0 0 #fff;
    }

    .appeal_point {
        position: absolute;
        top: 216px;
        left: 3%;

        .appeal {
            margin-bottom: 16px;
            display: block;
            padding: 0.5em 1em;
            background-color: $main_color;
            color: $white;
            font-weight: bold;
            letter-spacing: .04em;
            border: 4px solid $white;
            border-radius: 24px;
            top: 30vh;
        }
    }

    .catch_copy {
        font-size: 20px;
        position: absolute;
        bottom: 80px;
        left: 3%;
        color: $black;
        text-shadow: #fff 1px 1px 1px;
        line-height: 1.5em;
        word-break: auto-phrase;
        text-decoration: underline;
        /* 下線 */
        text-decoration-thickness: 1.3em;
        /* 線の太さ */
        text-decoration-color: rgba(255, 255, 255, 0.8);
        /* 線の色 */
        text-underline-offset: -1.1em;
        /* 線の位置。テキストに重なるようにやや上部にする */
        text-decoration-skip-ink: none;
        /* 下線と文字列が重なる部分でも下線が省略されない（線が途切れない） */

        .first_line {
            font-size: 24px;
        }

        .small {
            font-size: 21px;
            font-weight: lighter;
        }
    }
}

@media screen and (min-width:769px) {
    .mv {
        background-size: cover;
        /* 画面幅に対して100%の幅を持つように設定 */
        // background-position: 10vw 50%;
        /* 右側50%に配置 */

        .mv_title {
            font-size: 64px;
            top: 16vh;
            left: 5%;
        }

        .appeal_point {
            top: 35vh;
            left: 5%;

            .appeal {
                font-size: 20px;
                border-radius: 32px;
                display: inline;
                margin-right: 16px;
            }
        }

        .catch_copy {
            font-size: 32px;
            bottom: 8vh;
            left: 5%;
            text-shadow: 1px 1px 1px #fff;

            .first_line {
                font-size: 38px;
            }

            .small {
                font-size: 32px;
            }
        }
    }

    /* =========== min-width:769px =========== */
}

.sp_small_only {
    display: none;
}

@media screen and (max-width:424px) {
    .sp_small_only {
        display: block;
    }

    /* =========== max-width:424px =========== */
}