@use 'components' as *;

.mv {
    height: calc(100vh - 72px);
    position: relative;
    background: url(https://picsum.photos/id/5/600) no-repeat;
    background-size: cover;

    .mv_title {
        font-size: 36px;
        letter-spacing: .1em;
        font-weight: bold;
        position: absolute;
        top: 120px;
        left: 24px;
        color: $white;
    }

    .catch_copy {
        font-size: 20px;
        position: absolute;
        bottom: 120px;
        left: 24px;
        color: $white;
        text-shadow: #888 1px 1px 1px;
    }
}

@media screen and (min-width:769px) {
    .mv {
        .mv_title {
            font-size: 64px;
            top: 96px;
            left: 120px;
        }

        .catch_copy {
            font-size: 32px;
            bottom: 120px;
            left: 120px;
        }
    }

    /* =========== min-width:769px =========== */
}