@use 'components' as *;

.mv {
    height: calc(100svh - 72px);
    position: relative;
    background: url(../img/mv.jpg) no-repeat;
    background-size: cover;
    background-position: 70% 50%;

    .mv_title {
        font-size: 36px;
        letter-spacing: .1em;
        line-height: 1.2em;
        font-weight: bold;
        position: absolute;
        bottom: 80px;
        left: 3%;
        color: $main_color;
        filter: drop-shadow(0 0 3px $white);
    }

    .appeal_point {
        position: absolute;
        // top: 360px;
        bottom: 56px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-around;
        width: 90vw;

        .laurel {
            max-width: clamp(106px, 30.58vw, 120px);
        }
    }

    .catch_copy {
        font-size: clamp(36px, 9.41vw, 40px);
        font-weight: bold;
        color: $white;
        width: 100%;
        text-shadow: $black 1px 1px 7px;
        line-height: 1.5em;
        word-break: auto-phrase;
        // 位置
        position: absolute;
        top: 16px;
        left: 3%;

        .first_line {
            font-size: 24px;
        }

        .small {
            font-size: 21px;
            font-weight: lighter;
        }
    }

}

@media screen and (min-width:769px) {
    .mv {
        background-size: cover;
        /* 画面幅に対して100%の幅を持つように設定 */
        // background-position: 10vw 50%;
        /* 右側50%に配置 */

        .mv_title {
            font-size: 64px;
            top: 16vh;
            left: 5%;
        }

        .appeal_point {
            bottom: 56px;
            left: 30%;
            transform: translateX(-50%);
            width: 50vw;

            .laurel {
                max-width: 220px;
                width: 220px;
            }
        }

        p.catch_copy {
            font-size: 48px;
            top: 40px;

            .first_line {
                font-size: 38px;
            }

            .small {
                font-size: 32px;
            }
        }
    }

    /* =========== min-width:769px =========== */
}

.sp_small_only {
    display: none;
}

@media screen and (max-width:424px) {
    .sp_small_only {
        display: block;
    }

    /* =========== max-width:424px =========== */
}